# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6
print(number)

elephants = 21
print(elephants)

x = 5
y = 13
print(x)
print(y)

# variables are arbitrary names that hold some kind of value
# names dont matter, but they should make sense

6
21
5
13

##### Assigning float

In [3]:
# float == decimal
#float 1.665675765

num_float = 3.14
print(num_float)

big_float = 30.465
print(big_float)

3.14
30.465

#### Performing Calculations on ints and floats

##### Addition

In [6]:

num1 = 6
num2 = 7

print(num1 + num2)


result = num1 + num2

print(result)
#adding float and int together
num3 = 3.14
print (num2 + num3)
result += 5
print (result)

13
13
10.14
18

In [20]:
num3 = 15
num4 = 2

result = num3 + num4

print(result)

result += num4
# result = result + num4
print(result)

17
19

##### Subtraction

In [7]:
num3 = 15
num4 = 2

print(num3 - num4)

result2 = num3 - num4
print(result2)

result -= num4
# result = result - num4
print(result)

13
13
16

##### Multiplication

In [11]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product *= 2

print(product)

product = int(product)

47.0
94.0

In [12]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product = product * 2

print(product)

product = int(product)

# dont use keywrods as variables names

47.0
94.0

In [13]:
print(10 * 2)

20

##### Division

In [18]:
num1 = 45
num2 = 9

quotient = num1 / num2
print(quotient)

#gives a float whether we want it or not

quotient = int(quotient)
print(quotient)

quotient /=5
print (quotient)

5.0
5
1.0

In [32]:
num1 = 45

num1 /= 3

print(num1)

15.0

##### Floor Division

In [35]:
num1 = 5
num2 = 2

floored = num1//num2

print(floored)

#Floor division is a division operation that rounds the result down 
#to the nearest whole number or integer, which is less than or equal to the normal division result.

2

In [37]:
num1 = 5
num2 = 2

quotient = num1 / num2
print(quotient)

#round()
num = 6.54

2.5

##### Modulo

In [45]:
num1 = 6
if num1 % 2 == 0:
    print("even")
else:
    print("odd")
    
    #return a remainder between two numbers

even

In [43]:
num1 = 5
num2 = 2
result_mod = num1 % num2
print(result_mod)

#shorthand
num1 %= num2

print(num1)

1
1

In [44]:
num1 = 100
num2 = 15

result_mod = num1 % num2
print(result_mod)

10

##### Exponential

In [22]:
square = 5**2

print(square)


square**=2
print(square)

25
625

In [23]:
cubed = 3**3
print(cubed)

cubed**=3
print(cubed)

27
19683

### String Input-Output

##### String Assignment

In [66]:
name = "Ryan"
#empty string
new_string = ""
#both double and single quotes work here

dog = "Golden Retriever"

print(name)
print(dog)

Ryan
Golden Retriever

##### print() <br>
<p>Don't forget about end=' '</p>

In [76]:
print("Hello,", name )

print("Full name:", name, end=" Rhoades")

print('\n')
#things that get printed, sep and ending line
help(print)

Hello, Ryan
Full name: Ryan Rhoades

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [85]:
#a string is immutable which means it cannot be altered in an array

first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name
print(full_name)

full_name += (" " + "Jedi Master")
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

13

In [84]:
my_string = "I have a dog, his name is"
dog_name = "Eyo"

dog_sentence = my_string + " " + dog_name
print(dog_sentence)

I have a dog, his name is Eyo

##### Type Conversion

In [89]:
# int() - convert type into integer type (whole number)
# float() - convert to float type (decimal)
# str() - convert to string type("word")
# not every string can be make into a float or intergere, but every int and float can be made into a string

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

x = 12
print(type(x))

name = "Ryan"

num_str = "15"

y = 1.45
print(type(y))

<class 'int'>
<class 'float'>

In [88]:
new_x = str(x)

new_y = str(y)

print(type(new_x))
print(type(new_y))

<class 'str'>
<class 'str'>

In [90]:
new_name = int(name)

ValueError: invalid literal for int() with base 10: 'Ryan'

##### input()

In [24]:
# Input will always return a string, all of the time, forever and ever and ever


name = input("What is your name?")
print("Your name is,", name)

quest = input("What is your quest,")
print("Your quest is,", quest)

color = input("What is your favorite color?")
print("Your favorite color is,", color)

What is your name?Ht
Your name is, Ht
What is your quest,kk?
Your quest is, kk?
What is your favorite color?blue
Your favorite color is, blue

In [25]:
sentence = "I met this guy he said \"hello I'm a person" "

SyntaxError: unterminated string literal (detected at line 1) (1471165401.py, line 1)

In [26]:
age = int(input("How old are you? "))

print("Your age is", age)

age += 1

print(age)

How old are you? 37
Your age is 37
38

##### format()

In [27]:
age = int(input("How old are you? "))
name = input("What is your name? ")

result_string = "You are {} years old, {} and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

How old are you? 37
What is your name? Grace
You are Grace years old, 37 and you are getting wiser!
37 is a great time in life!!!

##### Old Way (python 2)

In [108]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

# f string
#f""
pokemon = inout("Who is your fav Poke?")
print(f"{pokemon})is really cool."

You are 31 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [30]:
car_color = input("What color is your car?")
car_year = int(input("What year was your car made?"))
car_make = input("What is your car's make?")
car_model = input("What model is your car?")

car = f"You drive a: {car_color} {car_year} {car_make} {car_model}."
print(car)

What color is your car?Blue
What year was your car made?2018
What make is your car?Toyota
What model is your car?Tundra
Your car is a Blue 2018 Toyota Tundra.

In [32]:
car_color = input("What color is your car? ")
car_year = input("What year was your car made? ")
car_make = input("What is your car's make? ")
car_model = input("What model is your car?")

car_info = f"You drive a: {car_color}, {car_year}, {car_make}, and {car_model}."
print(car_info)

What color is your car? Blue
What year was your car made? 2018
What is your car's make? Toyota
What model is your car?Tundra
You drive a: Blue, 2018, Toyota, and Tundra.

### If Statements

In [35]:
# Operators Less Than <, Greater Than >, Equal too ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 65

#if
#elif
#else

if num2 == num1:
    print("yay")

else:
    print("boo")
    
if num1 == 5 or num2 >50:
    print(True)
else:
        print(False)

boo
True

##### 'is' keyword

In [147]:
#use the "is" keyword checking for same/similar objects (location) not same value

num3 = 90

if num3 == 90:
    print("That'll do it!")
    
# if num3 is 90:
#     print("That'll also do it") #This gives us a Syntax Warning, working with literal

num2 = 55
print(num2)
num3 = num2 # = 55
print(num3)
num4 = num3
print(num4)
num2 = num2 + 1
print(num2)
num5 = 100


user_age1 = int(input("How old are you?"))

user_age2 = int(input("How old are you?"))

# if num4 == num3:
#     print("SUPER DUPER")
# else:
#     print("That is not super duper")

if user_age1 == user_age2:
    print("Yay you graduate high school in the same year, mayne")
else:
    print("One of you is older")

That'll do it!
55
55
55
56
How old are you?45
How old are you?46
One of you is older

##### 'in' keyword

In [151]:
#Check if a character is in a string
char_name = "Boba Fett"
if "b" in char_name:
    print("Excellent")
else: 
    print("Oh no, no b's here!")
    
if "f" in char_name.lower():
    print("it's here")
else:
    print("NOPE")

Beautiful
its here

##### 'not in' keyword'

In [159]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if "a" not in sega_char2.lower():
    print("This is not Saaaanic")
else:
    print("This is Saaanic")

SyntaxError: invalid syntax (2890515394.py, line 9)

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [ ]:
user_word = input("Say something:")

if 'p' in user_word.lower():
    print("The text has 'p'")
else:
    print("The text does not have 'p'")

In [ ]:
str = input("Enter you string: ")

if "p" in str.lower() or "p" in str.upper():
    print("Sting has p letter init")
else:
    print("String don't have p letter init")

In [162]:
word = input("Give me a word: ")

if "p" in word.lower():
    print("Yep theres a (p) in that word!")
else:
    print("Damn, no (P) in this word.")

Give me a word: possum
Yep theres a (p) in that word!

In [ ]:
user_input = input("Hey you, how are you?: ")

if 'p' in user_input:
    print("p was in there indeed")
elif 'P' in user_input:
    print("Big P in here")

## Using 'and'/'or' with If Statements

In [167]:
#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 15
num2 = 3
num3 = 10
num4 = 3

#if with and statement
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("one of the above statements was false")
    
# if with or statement
if num1 > num2 or num3 == num4:
    print("True and False")
else:
    print("Both of the above statements are false")

True and True
True and False

### Elif Statements

In [180]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

first_name = "asefsdg"

if first_name == "smith":
    print("That is a weird first name")
elif first_name == "max":
    print("Ah yes, Max is indeed a first name")
elif first_name == "ryan":
    print("Hello Ryan")
elif first_name.lower() == "alex":
    print("GUTEN MORGEN, ALEX")
else:
    print("Thats not a name i care about")

Thats not a name i care about

### Else Statements

In [182]:
#else is accounting for every other case that isn't true for any of the ifs or elifs
#if none of the the above conditions are met the else will be hit.
number = 112

if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is not 20 or 15, its {number}")

The number is not 20 or 15, its 112

### String Manipulation

#### .lstrip()

In [185]:
# our_string.lstrip()
name = "                  Lando Calrissian"
print(name)
print(name.lstrip())
#removes spaces (white space from left side of string)

                  Lando Calrissian
Lando Calrissian

#### .rstrip()

In [187]:
# our_string.rstrip()
name = "Luke Skywalker     "
print(name)
name = name.rstrip()
print(name)
#removes spaces (white space from right side of string)

Luke Skywalker
Luke Skywalker

#### .strip()

In [189]:
# our.string.strip()
name = "   Ash Ketchum    "
print(name)

print(name.strip())

#removes white space from all sides of string)

   Ash Ketchum
Ash Ketchum

In [191]:
name = input("What is your name? ")


if name == "ryan":
    print("cool beans")
else:
    print("unlegit")
name = name.strip()
if name == "ryan":
    print("cool beans")
else:
    print("unlegit")

What is your name?  ryan
unlegit
cool beans

In [194]:
name = "rod,"

name = name.strip(',')
print(name)

rod

In [201]:
#.replace()
name = ",,,,,,,,,,,,,,,,,,,,,,,,,,,,r,o,d"

name = name.replace(",", '')
print(name)

rod

#### .title()

In [202]:
#our_string.title()
name = "goofy goober"
print(name.title())

Goofy Goober

#### .upper()

In [203]:
# our_string.upper()
name = "Cheetor"
print(name.upper())

CHEETOR

#### .lower()

In [205]:
# our_string.lower()
name = "Darth Vader"
print(name.lower())

name_lower = name.lower()
print(name_lower)

darth vader
darth vader

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [206]:
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print(f"Your name is {first_name.strip().title()} {last_name.strip().title()}.")

What is your first name?Ryan
What is your last name?Rhoades
Your name is Ryan Rhoades.

In [207]:
name = input("Enter a name")
name2 = name.strip()
name3 = name2.title()
print(name3)

Enter a name    ryan rhoades
Ryan Rhoades

In [208]:
name = input("Enter your name:")
name1 = name.strip()

print("your name is",name1.title())

Enter your name:gertrude
your name is Gertrude

In [209]:
name = input("What is your name")
print(name)

print("Their name is ", name.strip().title())

What is your namehot potato patty
hot potato patty
Their name is  Hot Potato Patty

### Built-In Functions

##### len()

In [212]:
#works for strings and lists
# return the length of a given variable as an integer
# ____len____ attribute of an iterable 

name = "Max"
length_of_name = len(name)
print(length_of_name)
print(len(name))


my_list = [1, 2, 3, 4, 5, 6, 7]

print(len(my_list))

3
3
7

##### help()

In [218]:
# gives a tooltip on a python built-in function
help(len)
help(print)
help(max)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

##### isinstance()

In [225]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
else:
    print("That is not a float")
age = input("How old are you? ")
age = int(age)
if isinstance(age, int):
    print(age)

False
This number is a float type
How old are you? 14
14

In [237]:
name = "Ryan"
print(type(name))
print(isinstance(5, int))

<class 'str'>
True

In [240]:
print(isinstance(5, float))

False

In [ ]:
num1 = 5
num2 = 2

floored = num1//num2

##### abs()

In [228]:
# | 5 |
# give us the distance to zero

print(abs(-5))

print(abs(10))


print(abs(5-13))

5
10
8

### Try and Except

In [245]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday you were {age} and now you are {age + 1}")
except:
    print("Please enter in a number, not text")

How old are you? 31
Happy Birthday you were 31 and now you are 32

In [243]:
age = int(input("How old are you? "))
print(f"Happy Birthday you were {age} and now you are {age + 1}")

How old are you? sdfg

ValueError: invalid literal for int() with base 10: 'sdfg'

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [ ]:
userage1 = input("How old are you?")
print(userage1)

userage2 = input("How old are you?")
print(userage2)

agedif = int(userage2)-int(userage1)

abs_value = abs(agedif)

print(abs_value)

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [ ]:
noun = input("Enter a noun")
verb = input("Enter a verb")
adjective = input("Enter an adjective")

print (f"The {noun} decided to {adjective} {verb} during the meeting.")

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input('Please enter your age.'))

if age <= 17:
    print ('The person is a child.')

elif age >= 18 and age < 66:
    print ('The person is an adult.')
else:
    print ('The person is an senior.')

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

In [ ]:
num = int(input("Please enter number to be squared"))
print(num**2)

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [ ]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dogs"

# print(len(word1)) 
# print(len(word2)) 
# print(len(word3)) 
# print(len(word4)) 
# print(len(word5)) 

if len(word1)>=5:
    print (True)
else:
        print(False)
        
if len(word2)>=5:
    print (True)
else:
        print(False)

if len(word3)>=5:
    print (True)
else:
        print(False)

if len(word4)>=5:
    print (True)
else:
        print(False)

if len(word5)>=5:
    print (True)
else:
        print(False)